body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('imgs/nerdparty.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 100px;
  height: 100px;
  position:absolute;
}
.PulsingDancer{
  border: 10px solid blue;
  border-radius : 0px;
  position:absolute;
}
.RotatingDancer{
  width: 100px;
  height: 100px;
  position:absolute;
}
.BlinkyDancer{
  border:10px solid red;
  border-radius:10px;
}
